/* h2{ */
    /* color: rgb(102, 136, 102); */
    /* color: #ffffff; */
    /* background-color: blue; */
/* } */
/* h1{ */
    /* color: rgba(218, 178, 178, 0.281); */
    /* background-color: yellow; */
/* } */
/* p{ */
    /* color: rgb(0, 255, 0); */
    /* background-color: black; */
/* }   */
h1 {
    color: #200d0d;
    background-color: #a83232;
}
p{
    color: #1c251c3d;
    background-color: #539194;
}
p{
    color: #0d200d;
    background-color: #60aeb3;
}
p{
    color: #0d200d;
    background-color: #6ea4a7;
}
p{
    color: #0d200d;
    background-color: #336264;
}
p{
    color: #0d200d;
    background-color: #407c80;
}
p{
    color: #0d200d;
    background-color: #40999e;
}
h2{
    color: #0d200d;
    background-color: #ffc0d0;
}
h3{
    color: #0d200d;
    background-color: #ffc0d0;
}
h3{
    color: #0d200d;
    background-color: #ffc0d0;
}
h3{
    color: #0d200d;
    background-color: #ffc0d0;
}
h3{
    color: #0d200d;
    background-color: #ffc0d0;
}
h3{
    color: #0d200d;
    background-color: #ffc0d0;
}
h3{
    color: #0d200d;
    background-color: #ffc0d0;
}
h3{
    color: #0d200d;
    background-color: #ffc0dd;
}