@font-face{
    font-family: "Rimsha";
    src: url("./BrittanySignature.ttf");
}

h1{
    color: blue;
    font-size: 40px;
    font-family: "Rimsha";
}

.box{
    background-color: blue;
    /* width: 400px;
    height: 400px; */
    min-width: 500px;
    min-height: 200px;
}